body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(135deg, #ff9a9e, #fad0c4);
    height: 100vh;
    display: flex;
    align-items: center;
}

.clock {
    font-size: 4em;
    background: #1e3c72;
    color: #ffffff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
   margin-bottom: 200px;
   margin-left: 500px;
    position: relative;
    display: block;
 
}
